/* *{
    margin: 0;
    padding: 0;
} */

/* body{
    font-family: 궁서체,굴림체,바탕체;
} */
body {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

